<div class="col-xs-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Nome da rua</th>
                    <th>Número da casa</th>
                    <th>Bairro</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="address in clientsCtrl.client.address">
                    <td>
                        <input ng-model="address.name" class="form-control" placeholder="Informe a rua" ng-readonly="clientsCtrl.tabDelete" />
                    </td>
                    <td>
                        <input ng-model="address.number" class="form-control" placeholder="Informe o numero da casa" ng-readonly="clientsCtrl.tabDelete" />
                    </td>
                    <td>
                        <input ng-model="address.neighborhood" class="form-control" placeholder="Informe o bairro" ng-readonly="clientsCtrl.tabDelete" />
                    </td>
                    <td style="width:150px;" ng-if="!clientsCtrl.tabDelete">
                        <button class="btn btn-success" ng-click="clientsCtrl.addAddress($index)"><i class="fa fa-plus"></i></button>
                        <button class="btn btn-warning" ng-click="clientsCtrl.cloneAddress($index,address)"><i class="fa fa-clone"></i></button>
                        <button class="btn btn-danger" ng-click="clientsCtrl.deleteAddress($index)"><i class="fa fa-trash-o"></i></button>
                    </td>
                    <td style="width:150px;" ng-if="clientsCtrl.tabDelete">
                        <button class="btn btn-success disabled"><i class="fa fa-plus"></i></button>
                        <button class="btn btn-warning disabled"><i class="fa fa-clone"></i></button>
                        <button class="btn btn-danger disabled"><i class="fa fa-trash-o"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>