<div class="box-body">
        <table class="table">
          <thead>
            <tr>
              <th>Nome</th>
              <th>endereço</th>
              <th>pedido</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="client in clientsCtrl.clients">
              <td>{{:: client.name }}</td>
              <td>{{:: client.address }}</td>
              <td>{{:: client.orders }}</td>
              <td style="width:100px;">
                <button class="btn btn-warning" ng-click="clientsCtrl.showTabUpdate(client)"><i class="fa fa-pencil"></i></button>
                <button class="btn btn-danger" ng-click="clientsCtrl.showTabDelete(client)"><i class="fa fa-trash-o"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="box-footer clearfix">
         <paginator url="/#!/clients" pages="{{ clientsCtrl.pages }}"></paginator>
      </div>